# Configurações do Banco de Dados PostgreSQL (Local / Docker)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=olist_db
POSTGRES_PORT=5432

# URL de Conexão para a Aplicação (Node/Prisma)
DATABASE_URL="postgresql://admin:admin@localhost:5432/olist_db?schema=public"