# Aplicação
PORT=3000

# Configurações do Banco de Dados PostgreSQL (Local / Docker)
DB_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_DB=olist_db
POSTGRES_PORT=5432

# URL de Conexão com o Banco (Para TypeORM / Libs externas)
DATABASE_URL="postgresql://admin:sua_senha_aqui@localhost:5432/olist_db?schema=public"